.DS_Store
*.pyc
*.filepart
autoencoder/requirements.txt
autoencoder/data/raw/t10k-images-idx3-ubyte
autoencoder/data/raw/t10k-labels-idx1-ubyte
autoencoder/data/raw/train-images-idx3-ubyte
autoencoder/data/raw/train-labels-idx1-ubyte
*.pt
autoencoder/figs/*
autoencoder/E9-Dist.png
.vscode/settings.json
autoencoder/resnet2D.py
autoencoder/resnet.py
autoencoder/resnet.py
autoencoder/resnet.py
VAEGAN/*.jpg
VAEGAN/*.png
*.json
